.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Pin
      .panel-body
        = image_tag @pin.image.url(:medium)
        = render 'form'
        = link_to "Cancel", pin_path
